.Episode {
  background: #EEE;
  display: flex;
  justify-content: center;
  min-height: 100vh;
  padding: 72px 24px 0;
  position: relative;
  width: 100%;

  &[data-loading="false"] {
    .LoadingSpinner {
      display: none;
    }

    .EpisodeContent {
      display: flex;
    }
  }

  .ContentHeader {
    align-items: center;
    background: #FFF;
    box-shadow: 0 0 10px rgba(0, 0, 0, .125);
    display: flex;
    height: 48px;
    left: 0;
    padding: 0 24px;
    position: absolute;
    top: 0;
    right: 0;

    a {
      text-decoration: none;
    }

    .BackButton {
      align-items: center;
      color: #000;
      cursor: pointer;
      display: flex;
      font-size: 14px;
    

      .IconBack {
        background-image: url('https://img.icons8.com/ios-glyphs/30/000000/arrow-pointing-left.png');
        background-repeat: no-repeat;
        background-size: contain;
        margin-right: 12px;
        height: 24px;
        width: 24px;
      }
    }
  }

  .EpisodeContent {
    display: none;
    width: 100%;
  }
}